@using VendorTrack.Models.DTOs
@model IEnumerable<NcrFaultDTO>

<div class="card shadow-sm">
	<div class="card-header bg-secondary text-white">
		<h6 class="mb-0">
			<i class="bi bi-file-earmark-text me-2"></i> Vendor NCR Entry
		</h6>
	</div>

	<div class="card-body bg-light">
		<div class="row mb-1">
			<div class="col-2">
				<span>NCR Number</span>
			</div>
			<div class="col-1">
				<span>:</span>
			</div>
			<div class="col-9">
				<label class="form-control-plaintext fw-semibold" id="lbl_ncrnumber">Auto Gen</label>
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-2">
				<span>Part Number</span>
			</div>
			<div class="col-1">
				<span>:</span>
			</div>
			<div class="col-9">
				<input type="text" id="txt_partnumber" placeholder="Enter" class="form-control" autocomplete="off" />
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-2">
				<span>Fault</span>
			</div>
			<div class="col-1">
				<span>:</span>
			</div>
			<div class="col-9">
				<select id="drp_fault" class="form-select">
					<option value="0">--Select--</option>
					@foreach (var fault in Model)
					{
						<option value="@fault.FaultId">@fault.FaultDescription</option>
					}
				</select>
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-2">
				<span>Received Date</span>
			</div>
			<div class="col-1">
				<span>:</span>
			</div>
			<div class="col-9">
				<input type="text" id="txt_recdate" placeholder="Date picker" class="form-control" autocomplete="off" />
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-2">
				<span>Received Quantity</span>
			</div>
			<div class="col-1">
				<span>:</span>
			</div>
			<div class="col-9">
				<input type="text" id="txt_recqty" placeholder="Enter" class="form-control" autocomplete="off" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="5" />
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-2">
				<span>Non-Conforming Qty</span>
			</div>
			<div class="col-1">
				<span>:</span>
			</div>
			<div class="col-9">
				<input type="text" id="txt_ncqty" placeholder="Enter" class="form-control" autocomplete="off" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="5"/>
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-2">
				<span>Vendor Name</span>
			</div>
			<div class="col-1">
				<span>:</span>
			</div>
			<div class="col-9">
				<input type="text" id="txt_vendor" placeholder="Enter" class="form-control" autocomplete="off" />
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-2">
				<span>Contact Name</span>
			</div>
			<div class="col-1">
				<span>:</span>
			</div>
			<div class="col-9">
				<input type="text" id="txt_contactname" placeholder="Enter" class="form-control" autocomplete="off" />
			</div>
		</div>
		<div class="row mb-1">
			<div class="col-2">
				<span>Contact Email</span>
			</div>
			<div class="col-1">
				<span>:</span>
			</div>
			<div class="col-9">
				<input type="text" id="txt_contactemail" placeholder="Enter" class="form-control" autocomplete="off" />
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-12 d-flex justify-content-end gap-2">
				<input id="hid_NcrId_1" type="hidden" />
				<button class="btn btn-success" id="btn_save" type="button">
					<i class="bi bi-check-circle"></i> Submit
				</button>
				<button class="btn btn-warning" id="btn_update" type="button" style="display:none">
					<i class="bi bi-pencil"></i> Update
				</button>
				<button class="btn btn-outline-danger" id="btn_clear" type="button" >
					<i class="bi bi-x-circle"></i> Clear
				</button>
			</div>
		</div>

	</div>
</div>
@section Scripts {
	<script src="~/js/NCR-Manager.js"></script>

}


